<!doctype html>
<html>
<head>
    <title>Form</title>
</head>
<body>
    <form action="adda" method="post">
        Title: <input name="title" placeholder="A Catchy Title!"><br>
        Description: <input name="desc" placeholder="A short tagline to go with it"><br>
        Image URL: <input name="image" placeholder="http://..."><br>
        Hostname: <input name="hostname" placeholder="www.reddit.com"><br>
        CSS Path: <input name="pattern" placeholder="div.class span a"><br>
        <button>Submit!</button>
        
    </form>
</body>    
</html>